

body {
    padding: 2em;
    counter-reset: h2n;
}



pre
{ 
    background-color: #FEFECE;
    padding: 14pt;
    font-family: monospace;
    white-space: pre-wrap;
    border-radius: .3em;
    border: 1px solid #666633;

}
ol {
  padding-left: 0.5em;
}

ul {
  padding-left: 0.5em;
}

li {
    padding: 2pt;
}

h1 {
    counter-reset: h2n;
}

h2 {
    counter-reset: h3n; 
}

h3 {
    counter-reset: h4n; 
}

h4 {}


h2:before {
    counter-increment: h2n; content: counter(h2n) ".  "; 
}

h3:before {
    counter-increment: h3n; content: counter(h2n) "." counter(h3n) ". " ; 
}

h4:before {
    counter-increment: h4n; content: counter(h2n) "." counter(h3n) "." counter(h4n) ". ";
}

@media screen and (min-width: 480px) {


div#head
{
    position:fixed;
    top:2em;
    left:1em;
    width:16em;
    background-color:white;
    border-radius: .3em;
    border: 1px solid #666633;
    padding:1em;
    z-index:1;
    float:left;
}

div#main
{
    position:absolute;
    top:1em;
    max-width:44em;
    left:21em;
    right-margin:2em;
    z-index:0;
}
}
