#-pc_type hypre 
#-pc_hypre_type boomeramg
-pc_type gamg
-pc_gamg_type sa
-ksp_type gmres
-ksp_max_it 100
-ksp_rtol 1.e-3
#-mat_ascii_output_large
-options_left
-ksp_monitor
#-mat_view_matlab
#-pc_gamg_verbose
-ksp_norm_type unpreconditioned
#-ksp_view
#-ksp_converged_reason
-ksp_converged_use_initial_residual_norm
#-log_summary