PYTHON_INC=$(shell python-config --includes)
PYTHON_LIBS=$(shell python-config --libs)

#alternatively try 
#PYTHON_VERSION=2.7 
#which works with typical python 2.7 installs

#this works with some netcdf installs
NETCDF_INC=-I$(shell nc-config --includedir)
NETCDF_LIBS=$(shell nc-config --flibs)
