export(amr.load, amr.write, amr.create, amr.free, amr.free.all, amr.query.compnames, amr.set.compnames, amr.query.ncomp, amr.query.time,
       amr.query.nlevel, amr.query.domaincorners,amr.query.nfab, amr.read.fab, amr.write.fab, amr.apply, amr.read.box, amr.readgrad.box)

useDynLib("libamrfile")
